@font-face{
    font-family: fredoka;
    src: url(Fuentes/FredokaOne-Regular.ttf);
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    font-size: 0.9rem;
    line-height: 1.6em;
    margin: 0;
}
.contenedor{
    width: 85%;
    max-width: 950px;
    margin: 0 auto;
}
.header{
    background: #065c6f;
    color: white;
    padding: 0.3rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
    color: white;
    text-decoration: none;
}
.logo{
    width: 10em;
}

.logo-nav-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegacion ul li{
    display: inline-block;

}
.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.6s linear;
    border-radius: 10px;
}
.navegacion ul li a:hover{
    background: #e3f6f5;
    color: #065c6f;
}
.main{
    padding: 5rem;
}
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.titulo1{
    text-align: center;
    font-family:fredoka;
    font-size: 2rem;
}
.cuadro-opciones{
    width: 70%;
    max-width: 800px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.tabla{
    width: 23%;
    height: 300px;
    margin: auto;
    border: 1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
}
.tabla>h2{
    font-size: 30px;
    margin-bottom: 35px;
}
.tabla img{
    width: 64px;
    margin-bottom: 35px;
}
.tabla>h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.tabla>p{
    display: block;
    margin-bottom: 20px;
}
.boton{
    display: inline-block;
    width: 150px;
    padding: 12px;
    background-color: #a5f059;
    text-decoration: none;
    color: #343759;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;

}
.tabla:hover{
    background: #343759;
    color: #f1f1f2;
    transition: 1s all;
    transform: scale(1.1);
    cursor: pointer;
}
.footer{
    max-width: 1000px;
    background: #000;
    margin: 0 auto;
    border-radius: 0 0 20px 20px;
    color: #fff;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}
@media screen and (max-width:700px){
    .tabla{
        width: 45%;
        padding: 30px;
    }
    .tabla >h2{
        margin-top: 40px;
    }

    .navegacion {
        width:100% ;
        margin-top:1rem ;
    }

    .navegacion ul li{
        display: block;
    
    }
    .navegacion ul li a{
        display: block;
        padding: 0.5rem 0;
        transition: all 0.6s linear;
        border-radius: 10px;
    }
    .navegacion ul li a:hover{
        background: #4a4a4a;
    }  
}
@media screen and (max-width:500px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}
