@font-face{
    font-family: fuente1;
    src: url(Fonts/DarkerGrotesque-Medium.ttf);
}
@font-face{
    font-family: fuente2;
    src: url(Fonts/FredokaOne-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body:before
{
    content: "";
    width: 100%;
    min-height: 280vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #e3f6f5, #065c6f);
    opacity: 0.9;
    z-index: -1;
}
.container{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

                                                 /* LOGO Y BUSQUEDA*/

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    color: #444;
    border: 3px solid #272343;
    background: #fff url(Iconos/lupa.png) no-repeat -1px center;
    width: 400px;
    border-radius: 10px 0 0 10px;
}

input.buton{
    background: #272343;
    color:#bae8e8;
    width: 4em;
    height: 1.8em;
    font-size: 25px;
    border:none ;
    transition: all 0.5s;
}
.buton:hover{
    background: #065c6f;
    color: #f1f1f2;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.logo{
    width: 20em;
    padding: 50px;
}

                         /*MENU DE NAVEGACIÓN*/

.menu-icon{
    display: none;
}
.contenedor-busqueda{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.navegacion{
    display: flex;
    justify-content: center;
    background:#272343 ;
    align-items: center;
    height: 5em;

}
.navegacion ul{
    margin: 0;
    padding: 0;
}
.navegacion ul li{
    display: inline-block;

}
.navegacion ul li a{
    display: block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: all 0.5s;
    font-family: fuente1;
}

.buton-login{
    background: url(Iconos/login.png) no-repeat -1px center;  
    padding: 9px 10px 9px 32px;
    border: none;
    color: #bae8e8;
    cursor: pointer;
    transition: all 0.5s;
}
.navegacion ul li a:hover{
    background:#065c6f;
    transition: all .5s;
    border-radius: 50px;
    transform: scale(1.2);
}
.buton-login:hover{
    transition: all 0.5s;
    transform: scale(1.5);
    
}

h1{
    background: #bae8e8 ;
    color: #272343;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
    box-shadow: 2px 3px 8px  #272343;
    font-family: fuente2;
    font-weight: 100;
}
h2{
    font-family: fuente2;
}
h3{
    font-family: fuente2;
    font-weight: 100;
}
h1 img{
    width: 1rem;
}

.contenedor{
    padding: 4.5rem;
}
.imagen-texto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #065c6f;
    height: 15rem;
    border-radius: 10px;
}
.imagen{
    padding: 2rem;
}
.parrafo{
    width: 60%;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: fuente1;
}
.next{
    text-decoration: none;
    float: right;
    color: black;
    font-size: 1.5rem;
}


.contenedor-pie{
    display: flex;
    justify-content: space-around;
    background:#bae8e8 ;
    border-radius: 15px 15px 0px 0;
}
h4{
    text-align: center;
    font-family: fuente2;
    font-weight: 100;
}
.pie{
    width: 25em;
}
.pie ul li a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}
.pie ul li{
    list-style: none;
    height: 2em;
    font-family: fuente1;
}
.pie img{
    width: 20px;
}
.pie ul li a:hover{
    color:#506b6b;
    transition: all .1s;
    font-size: 1.5em;
}
.pie-derechos{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background:#bae8e8 ;
    border-radius: 0px 0px 15px 15px;
}
.texto{
    font-size: 0.8em;
}
.iconos img{
    width: 1.4em;
}
footer{
    align-self: flex-end;
}

@media only screen and (max-width: 767px){

    .container{
        width: 95%;
        max-width: 350px;
        margin: 0 auto;
    }
    body:before
    {
        min-height: 500vh;
    }

                                            /*LOGO Y BUSQUEDA*/

    .logo{
        width: 15em;
        padding: 1em;
    }
    .contenedor-busqueda{
        display: block;
        text-align: center;
        padding: 1em;
    }
    input.buton{
        border-radius: 10px;
        width: 5em;
        font-size: 1.2em;
    }
    input.src{
        border-radius: 10px;
        width: 10em;
        font-size: 1em;
    }

                                                /*MENU CON RESPONSIVE*/

    .menu-icon{
        display: block;
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 1.5em;
        padding: 1em;
    }
    .menu-icon:hover{
        background-color:#065c6f ;
    }
    .navegacion ul{
        display: none;
    }
    .navegacion ul.show{
        display: block;
    }
    .navegacion{
        width: 100%;
        display: table;
    }

    .contenedor{
        display: block;
        padding: 0;
    }
    .imagen-texto{
        display: block;
        width: 18.3rem;
        height: 30rem;
    }
    .img{
        padding: 0.3rem;
        width: 18rem;
        height: 15rem;
    }
    .imagen {
        text-align: center;
    }
    .imagen img{
        width: 10rem;
        height: 8rem;
    }
    .parrafo{
        text-align: center;
        font-size: 0.8rem;
        width: 18rem;
    }
    .next{
        font-size: 1rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }


    .contenedor-pie{
        display: table;
    }
    .pie{
        width: 21.3em;
    }
    .pie ul li a{
        text-decoration: none;
        font-size: 0.9em;
        color: black;
    }
    .pie ul li a:hover{
        font-size: 1em;
    }
    .pie ul li p{
        font-size: 0.8em;
    }
    .pie-derechos{
        display: table;
    }
}