
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body:before
{
    content: "";
    width: 100%;
    min-height: 260vh;
    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(90deg, #e3f6f5, #065c6f);
    opacity: 0.9;
    z-index: -1;
}
.container{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}

                                                 /* LOGO Y BUSQUEDA*/

input.src{
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 18px;
    color: #444;
    border: 3px solid #272343;
    background: #fff url(Iconos/lupa.png) no-repeat -1px center;
    width: 400px;
    border-radius: 10px 0 0 10px;
}

input.buton{
    background: #272343;
    color:#bae8e8;
    width: 4em;
    height: 1.8em;
    font-size: 25px;
    border:none ;
    transition: all 0.5s;
}
.buton:hover{
    background: #065c6f;
    color: #f1f1f2;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}
.logo{
    width: 20em;
    padding: 50px;
}

                         /*MENU DE NAVEGACIÓN*/

.menu-icon{
    display: none;
}
.contenedor-busqueda{
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.navegacion{
    display: flex;
    justify-content: center;
    background:#272343 ;
    align-items: center;
    height: 5em;

}
.navegacion ul{
    margin: 0;
    padding: 0;
}
.navegacion ul li{
    display: inline-block;

}
.navegacion ul li a{
    display: block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    transition: all 0.5s;
}

.buton-login{
    background: url(Iconos/login.png) no-repeat -1px center;  
    padding: 9px 10px 9px 32px;
    border: none;
    color: #bae8e8;
    cursor: pointer;
    transition: all 0.5s;
}
.navegacion ul li a:hover{
    background:#065c6f;
    transition: all .5s;
    border-radius: 50px;
    transform: scale(1.2);
}
.buton-login:hover{
    transition: all 0.5s;
    transform: scale(1.5);
    
}

                            /*IMAGENES EN MOVIMIENTO Y CUADRO DE CATEGORIAS*/

.contenedor-categoria-slider{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 4%;
}
.contenedor-categoria-slider ul li{
    list-style: none;
}
.categoria{
    width: 25em;
    height: 30em;
}
.texto-categoria{
    height: 35em;
    font-size: 25px;
    background-color: #065c6f;
    border-radius: 5px 5px 0 0;
    padding: 45px;
    text-align: center;
    color: #e3f6f5;
}
.categoria ul{
    border: 1px solid #065c6f;
    padding: 0;
    border-radius: 10px;
}
.categoria ul li{
    height: 1.5em;
    padding: 15px;
}
.categoria ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}
.categoria ul li a:hover{
    color:#272343;
    transition: all .1s;
    transform: scale(1.1);
    font-size: 1.7em;
    font-weight: bold;
}
.slider{
    width: 45em;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 50s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.slider li{
    width: 100%;
}
.slider img{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

                                 /*CUADRO DE OPCIONES*/

.cuadro-opciones{
    display: flex;
    padding: 2em;
    justify-content: space-between;
    text-align: center;
}
.tabla{
    background:#eeeded ;
    width: 15em;
    height: 19em;
    padding: 20px;
    border-radius: 10px;
}
.tabla h2{
    font-size: 1.5em;
    color: #065c6f;
}
.boton{
    display: inline-block;
    width: 8em;
    height: 1.4em;
    background: #065c6f;
    text-decoration: none;
    padding: 12px;
    color: #e3f6f5;
    border-radius: 10px;
}
.tabla:hover{
    transition: all .5s;
    transform: scale(1.1);
}

                             /*IMAGENES DE INFORMACIÓN*/

.contenedor-imagenes{
    text-align: center;
}
.imagenes1 img{
    padding: 10px;
    display: inline-block;
    width: 36em;
    height: 15em;
}
.imagenes2 img{
    padding: 10px;
    display: inline-block;
    width: 36em;
    height: 15em;
}

                             /*INFORMACION DE PIE*/

.contenedor-pie{
    display: flex;
    justify-content: space-around;
    background:#bae8e8 ;
    border-radius: 15px 15px 0px 0;
}
h3{
    text-align: center;
}
.pie{
    width: 25em;
}
.pie ul li a{
    text-decoration: none;
    font-size: 1em;
    color: black;
}
.pie ul li{
    list-style: none;
    height: 2em;
}
.pie img{
    width: 20px;
}
.pie ul li a:hover{
    color:#506b6b;
    transition: all .1s;
    font-size: 1.5em;
}
.pie-derechos{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background:#bae8e8 ;
    border-radius: 0px 0px 15px 15px;
}
.texto{
    font-size: 0.8em;
}
.iconos img{
    width: 1.4em;
}
footer{
    align-self: flex-end;
}






@media only screen and (max-width: 767px){

    .container{
        width: 95%;
        max-width: 350px;
        margin: 0 auto;
    }
    body:before
    {
        min-height: 370vh;
    }

                                            /*LOGO Y BUSQUEDA*/

    .logo{
        width: 15em;
        padding: 1em;
    }
    .contenedor-busqueda{
        display: block;
        text-align: center;
        padding: 1em;
    }
    input.buton{
        border-radius: 10px;
        width: 5em;
        font-size: 1.2em;
    }
    input.src{
        border-radius: 10px;
        width: 10em;
        font-size: 1em;
    }

                                                /*MENU CON RESPONSIVE*/

    .menu-icon{
        display: block;
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 1.5em;
        padding: 1em;
    }
    .menu-icon:hover{
        background-color:#065c6f ;
    }
    .navegacion ul{
        display: none;
    }
    .navegacion ul.show{
        display: block;
    }
    .navegacion{
        width: 100%;
        display: table;
    }

                                /*IMAGENES NE MOVIMIENTO Y CUADRO DE CATEGORIAS*/

    .slider{
        display: none;
    }
    .categoria{
        width: 18em;
    }

    .categoria ul li a{
        font-size: 1em;
    }
    .categoria ul li a:hover{
        font-size: 1.1em;
    }
    
                                                        /*CUADRO DE OPCIONES*/

    .cuadro-opciones{
        display: block;
    }

                                            /*IMAGENES DE INFORMACIÓN*/
    .contenedor-imagenes{
        display: none;
    }

                                            /*INFORMACION DEL PIE*/

    .contenedor-pie{
        display: table;
    }
    .pie{
        width: 21.3em;
    }
    .pie ul li a{
        text-decoration: none;
        font-size: 0.9em;
        color: black;
    }
    .pie ul li a:hover{
        font-size: 1em;
    }
    .pie ul li p{
        font-size: 0.8em;
    }
    .pie-derechos{
        display: table;
    }
} 




